<%= form_for(@folha) do |f| %>
  <% if @folha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folha.errors.count, "error") %> prohibited this folha from being saved:</h2>

      <ul>
      <% @folha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">

    <div class="row inline">
      <div class="col-md-6 inline">
        <div class="form-group inline">
          <div>
            <%= f.label :Nome %><br>
            <%= f.text_field :nome %>
          </div>
          <div>
            <%= f.label :Verba %><br>
            <%= f.number_field :verba %>
          </div>
          <div>
            <%= f.label :Funcionarios %><br>
            <%= f.number_field :funcionarios %>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2>Funcionários</h2>
        <%= f.fields_for :funcionarios do |funcionarios| %>
          <div class="funcionarios_fields">
            <div class="field">
              <%= funcionarios.label :Nome %><br>
              <%= funcionarios.text_field :nome %>
            </div>
            <div class="field">
              <%= funcionarios.label :Idade %><br>
              <%= funcionarios.number_field :idade %>
            </div>
            <div class="field">
              <%= funcionarios.label :Salário %><br>
              <%= funcionarios.number_field :salario %>
            </div>
          </div>
          <div class="actions">
            <%= funcionarios.submit %>
          </div>
        <% end %>
      </div>

    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

  </div>

<% end %>
